.paginaPerfil {
  .cabecalhoPerfil {
    background-color: $branco;
    .statusPerfil {
      display: flex;
      padding: 16px;
      .avatar {
        width: 100px;
        height: 100px;
        margin-right: 24px;
      }
      .btn {
        margin-top: 14px;
        padding: 7px;
        font-size: 12px;
      }
      .statusContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: auto;
        .status {
          display: flex;
          .statusDados {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            > span {
              font-size: 12px;
              font-family: $fontRegular;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $desktopBreakpoint) {
    .cabecalhoPerfil {
      .cabecalhoAcoes {
        > span {
          display: none !important;
        }
        h3 {
          font-size: 18px;
        }
      }
      .statusPerfil {
        padding: 16px 24px;
        .avatar {
          width: 120px;
          height: 120px;
          margin-right: 40px;
        }
        .btn {
          padding: 10px;
          font-size: 16px;
          border-radius: 4px;
        }
        .statusContainer {
          .status {
            .statusDados {
              > span {
                font-size: 16px;
              }
              > strong {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
