.feedContainer {
  padding-bottom: 60px;
  background-color: $branco;

  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }
  .postagem {
    margin-top: 16px;

    .cabecalhoPostagem {
      display: flex;
      align-items: center;
      padding: 8px 12px 0px;
      margin-bottom: 8px;

      strong {
        font-size: 12px;
        color: $cinza4;
      }
    }

    .fotoPostagem {
      img {
        width: 100%;
        height: auto;
        max-height: 360px;
        object-fit: cover;
      }
    }

    .rodapePostagem {
      padding: 4px 16px;
      strong.nomeUsuario {
        font-size: 12px;
        float: left;
        margin-right: 4px;
      }

      p.descricao {
        margin: 0 0 2px;
        > span {
          font-size: 12px;
        }
      }
      .acoesRodapePostagem {
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        > span {
          margin-right: 8px !important;
        }

        .qntCurtidas,
        strong {
          font-size: 10px;
        }
      }
      .descricaoPostagem {
        .exibirDescricao {
          font-size: 12px;
          color: $corPrimaria03;
          cursor: pointer;
        }
      }
    }
    .containerFazerComentario {
      display: flex;
      align-items: center;
      padding: 0px 12px;
      margin-top: 12px;
      margin-bottom: 16px;
      textarea {
        width: 100%;
        font-size: 12px;
        border: none;
        outline: none;
        resize: none;
        color: $cinza2;
      }
    }
  }
  @media screen and (min-width: $desktopBreakpoint) {
    .postagem {
      .rodapePostagem {
        .acoesRodapePostagem {
          > span {
            cursor: pointer;
          }
        }
      }
      .containerFazerComentario {
        .btnFeed {
          border: none;
          outline: none;
          color: $corPrimaria;
          cursor: pointer;
          font-size: 12px;
          background-color: transparent;
        }
      }
      .avatar {
        width: 42px;
        height: 42px;
      }
    }
  }
}
