.headerPrincipal {
  border-bottom: 0.5px solid $cinza1;
  .conteudoHeaderPrincipal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;

    .logoHeaderPrincipal {
      position: relative;
      width: 140px;
      height: 40px;
    }

    .barraPesquisa {
      display: flex;
      align-items: center;
      position: relative;
      flex: 1;
      margin-left: 16px;

      .containerImagemLupa {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 8px;
      }

      input {
        border-radius: 4px;
        border: none;
        background-color: $corPrimaria04;
        outline: none;
        font-size: 12px;
        font-family: $fontLight;
        padding: 8px 8px 8px 36px;
        color: $corPrimaria;

        &:focus {
          border: 1px solid $corPrimaria;
        }
      }
    }
  }

  .resultadoPesquisaContainer {
    position: absolute;
    background-color: $branco;
    width: 100%;
    z-index: 9;

    .resultadoPesquisa {
      display: flex;
      align-items: center;
      padding: 10px 16px;

      &:hover {
        background-color: $cinza0;
      }

      img {
        border-radius: 50%;
        object-fit: cover;
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }

      .informacoesUsuario {
        > * {
          display: block;
          color: $cinza4;
          font-size: 12px;
        }
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    background-color: $branco;
    border: none;
    .conteudoHeaderPrincipal {
      max-width: 60%;
      margin: auto;
      align-items: center;
      justify-content: center;

      .barraPesquisa {
        flex: 0.45;
        margin: 0px 16px 0px 64px;
        input {
          width: 100%;
        }
      }
    }

    .resultadoPesquisaContainer {
      width: 20%;
      margin: auto;
      right: 0;
      left: 7px;
      cursor: pointer;
      box-shadow: 0px 4px 5px $cinza0;
    }
  }
}
