@import "variaveis.scss";

* {
  font-family: Biennale Regular;
  font-size: 14px;
}

html,
body,
#_next {
  height: 100%;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

input{
  &::placeholder{
    color: $cinza2;
    opacity: 1;
  }

  &:-ms-input-placeholder{
    color: $cinza2;
  }

  &::-ms-input-placeholder{
    color: $cinza2;
  }
}

@import "../public/fonts/fonts.scss";
@import "../components/button/button.scss";
@import "../components/avatar/avatar.scss";
@import "../styles/paginaPublica.scss";
@import "../components/inputPublico/inputPublico.scss";
