// Fontes
$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";

// Cores
$corPrimaria: #5e49ff;
$corPrimaria03: #25CBD3;
$corPrimaria04: #F0F5FF;

$branco: #FFF;
$cinza0: #F4F4F4;
$cinza1: #DADADA;
$cinza2: #7C7786;
$cinza3: #4D4C4D;
$cinza4: #333333;
$cinza5: #E5E5E5;

// breakpoint
$desktopBreakpoint: 992px;